<header class="site-header">
    <div class="container">
        <div class="site-header-inner">
            <div class="brand header-brand">
                <h1 class="m-0">
                    <a href="/" title="Estimatron">
                        <img src="../images/logo.svg" class="brand-logo-img" alt="Estimatron"/>
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>
