.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 15px 3px #424242;
  padding: 30px;

  .dialog-header {
    //border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;

    .dialog-title {
      font-size: 1.1rem;
      display: inline-block;
    }

    .dialog-close-button {
      display: inline-block;
      padding: 10px;
      width: 40px;
      height: 40px;
      background: #fff;
      border: none;
      border-radius: 20px;
      outline: none;
      margin-top: -10px;
      margin-right: -10px;

      &:hover {
        background-color: #f9f9f9;
      }

      &:focus {
        box-shadow: 0 0 0 2px #6050dc;
      }
    }
  }

  .dialog-body {
    overflow-y: scroll;
  }

  .dialog-footer {
    //border-top: 1px solid #dedede;
    display: flex;
    justify-content: flex-end;
  }
}
