.icon {
  display: inline-block;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.icon-close {
  background-image: url('../assets/close.svg');
}

.icon-cog {
  background-image: url('../assets/cog.svg');
}

.icon-edit {
  background-image: url('../assets/edit.svg');
}
