<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Poks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
</head>
<body>
    <%= require('html-loader!./hud-components/player-options-panel/PlayerOptionsPanel.html') %>
    <%= require('html-loader!./hud-components/table-options-panel/TableOptionsPanel.html') %>
    <canvas id="tableCanvas" width="600" height="400" tabindex="-1"></canvas>
    <%= require('html-loader!./hud-components/notification/Notification.html') %>
    <%= require('html-loader!./hud-components/player-options-dialog/PlayerOptionsDialog.html') %>
    <%= require('html-loader!./hud-components/table-options-dialog/TableOptionsDialog.html') %>
</body>
</html>
