<div id="playerOptionsPanel">
    <button id="playerOptionsPanel--optionsButton" aria-label="Player Options" title="Player Options">
        <span id="playerOptionsPanel--playerName" class="player-options-button-label">Player Name</span>
        <span class="player-options-button-side-icon">
                <i class="icon icon-edit"></i>
            </span>
    </button>
</div>
