<div id="tableOptionsPanel">
    <span id="tableOptionsPanel--tableName">Table Name</span>
    <button id="tableOptionsPanel--optionsButton" class="table-options-icon-button" aria-label="Table Options" title="Table Options">
        <i class="icon icon-cog"></i>
    </button>
</div>
