<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Agile Planning Estimation - Estimatron</title>
    <meta name="description" content="About agile planing estimation (planing poker) technique">
</head>
<body class="light">

<div class="body-wrap boxed-container">

    {{> ../partials/header }}

    <main>
        <div class="container">

            <h2>Agile Planing Estimation</h2>
            <div class="split-item">
                <div>
                    <p>
                        Planning poker or Scrum poker, is an agile planning gamified technique for estimating software.
                        Like the <a href="https://en.wikipedia.org/wiki/Wideband_delphi">Wideband delphi</a> method from which
                        it derives, is a consensus-based technique for estimating effort.
                    </p>
                    <p><a href="/">Estimatron</a> is a simple online web application for agile planning estimation that makes remote
                        interaction very easily with a poker like user interface.</p>
                </div>
                <div>
                    <img src="../images/screenshot.png" alt="Estimatron Screenshot"/>
                </div>
            </div>
            <p>
                Using the planning poker technique, members of the team make estimates by playing numbered
                cards face-down to the table, instead of speaking them aloud.
                By hiding the cards, the team can avoid the cognitive bias of <a
                    href="https://en.wikipedia.org/wiki/Anchoring_(cognitive_bias)">anchoring</a>, where the first
                estimation spoken aloud sets a precedent for all the following estimates.
                After all team members made theirs estimates, the cards are revealed, and the estimates are discussed.
                This is the most important part of this technique and the main reason is successful is that various
                ideas and views are revealed by the independent estimations.
            </p>
            <p>
                When <a href="https://en.wikipedia.org/wiki/Scrum_(software_development)">Scrum framework</a> is used,
                this technique is usually applied during <a
                    href="https://www.agilealliance.org/glossary/backlog-grooming/">backlog refinement (or grooming)</a>
                phase.
            </p>

            <h3 id="equipment">Equipment</h3>
            <p>
                The purpose of the technique is to estimate the list of features (or stories, tasks, etc.) that needs to
                be developed. It is using a deck of playing cards with numbers and symbols. Optionally an <a
                    href="https://en.wikipedia.org/wiki/Egg_timer">egg timer</a> can be used to limit the amount of
                time for each turn.</p>
            <p>The most used deck is showing the <a href="https://en.wikipedia.org/wiki/Fibonacci_number">Fibonaci</a>
                sequence of numbers. However, there are a couple of <a
                        href="planning-estimation-scale-decks.html">variations of card decks</a> that are used, some of
                them also have symbols like ∞ or ☕. The numbers on cards usually represents an abstract measure like
                'story points' but can also be 'ideal days' or the required effort. The technique works best when
                estimating relative difficulty of the features using story points or a similar measure, as opposite
                to estimate real effort. This is because the estimate should reflect the required effort of the team
                to deliver the feature and not individual effort.</p>

            <h3 id="how-is-played">How is played</h3>
            <p>At the beginning of the estimation session, all team members are given an identical set of cards with
                numbers and symbols on them. Some team members can be observers only (they are not placing estimates),
                for example when using Scrum framework, the product owner is not estimating. One team member acts as
                the moderator. Each round takes place as follows:</p>
            <ul>
                <li>The moderator or product owner describes the feature. The team members can ask questions and
                    discuss the feature making sure everything is clear including dependencies if any.
                </li>
                <li>Each team members places a card from its hand face down to hide the estimation.</li>
                <li>All cards are revealed showing the estimates.</li>
                <li>The team discusses the estimates. Especially the members who placed the highest and lowest estimates
                    are given the opportunity to explain their reasoning.
                </li>
                <li>If all estimates are equal (or, sometimes, if from discussions it is clear that the outliers can be
                    safely discarded) then a consensus is reached and the round ends.
                </li>
                <li>If there the estimates not equal then the team members repeat the process until a consensus is
                    reached
                </li>
            </ul>
            <p>If a timer is used, the moderator takes care to enforce the time limit so that the team keeps the focus,
                and all the features can be estimated.</p>

            <h3 id="benefits">Benefits</h3>
            <p>
                Estimates accuracy can be improved with this technique, especially if the team is relaying on past
                history to augment the knowledge about the current features, and for establishing the relative
                difficulty to implement them. It is very effective at facilitating team coordination and discussion of
                implementation strategies.</p>

            <p>Try <a href="/">Estimatron</a>, an immersive online tool that facilitates agile planing and team
                consensus estimates.</p>
        </div>
    </main>

    {{> ../partials/footer }}

</div>

</body>
</html>
