<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Estimatron - Planning Poker</title>
    <meta name="description" content="Immersive planning poker online web application for agile software estimation">
</head>
<body>
    {{> ./hud-components/player-options-panel/PlayerOptionsPanel }}
    {{> ./hud-components/table-options-panel/TableOptionsPanel }}
    <canvas id="tableCanvas" width="600" height="400" tabindex="-1"></canvas>
    {{> ./hud-components/notification/Notification }}
    {{> ./hud-components/logo-panel/LogoPanel }}
    {{> ./hud-components/player-options-dialog/PlayerOptionsDialog }}
    {{> ./hud-components/table-options-dialog/TableOptionsDialog }}
</body>
</html>
