<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Agile Planning Estimation - Estimatron</title>
    <meta name="description" content="About agile planing estimation (planing poker) technique">
</head>
<body class="light">

<div class="body-wrap boxed-container">

    {{> ../partials/header }}

    <main>
        <div class="container">


            <h2>Agile Planing Estimation</h2>
            <p>
                Agile planning estimation most known as planning poker or Scrum poker, is a gamified technique for estimating software most used in agile frameworks.
                Like the <a href="https://en.wikipedia.org/wiki/Wideband_delphi">Wideband delphi</a> method from which it derives, is a consensus-based technique for estimating effort.
            </p>
            <p>
                In agile planning estimation, members of the team make estimates by playing numbered cards face-down to the table, instead of speaking them aloud.
                The cards are revealed, and the estimates are then discussed. By hiding the figures in this way, the group can avoid the cognitive bias of anchoring, where the first number spoken aloud sets a precedent for subsequent estimates.
            </p>

            ...

            <p>Try <a href="/">Estimatron</a>, an immersive online tool that facilitates agile planing and team consensus estimates.</p>
        </div>
    </main>

    {{> ../partials/footer }}

</div>

</body>
</html>
