<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Planning Poker Estimation Decks - Estimatron</title>
    <meta name="description" content="About planning poker estimation decks and estimation scales">
</head>
<body class="is-boxed">

<div class="body-wrap boxed-container">

    {{> ../partials/header }}

    <main>
    </main>

    {{> ../partials/footer }}

</div>

</body>
</html>
