#tableOptionsPanel {
  position: absolute;
  bottom: 4px;
  right: 4px;

  #tableOptionsPanelTableName {
    font-size: 16px;
    color: #fff;
  }

  #tableOptionsButton {
    padding: 6px;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: 1px solid #35654d;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    margin-left: 10px;

    &:hover {
      background-color: #ededed1f;
      border: 1px solid #ededed;
    }

    &:focus, &:active {
      background-color: #ededed1f;
      box-shadow: 0 0 0 2px #6050dc;
    }
  }
}
