<div id="inviteOthersDialog" class="dialog outside">
    <section class="dialog-header">
        <span class="dialog-title">Invite Others</span>
        <button type="button" id="inviteOthersDialog--closeButton" class="dialog-close-button">
            <i class="icon icon-close"></i>
        </button>
    </section>
    <section class="dialog-body">
        <div class="form-field">
            <label class="field-label">Table URL:</label>
            <input type="text" id="inviteOthersDialog--url" maxlength="25" class="field-input" readonly/>
        </div>
    </section>
    <section class="dialog-footer">
        <button type="button" id="inviteOthersDialog--copyButton" class="button">Copy to Clipboard</button>
        <button type="button" id="inviteOthersDialog--applyButton" class="button">Close</button>
    </section>
</div>
