#playerOptionsPanel {
  position: fixed;
  top: 0;
  width: 100%;

  #playerOptionsButton {
    margin: 4px auto;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 12px;
    outline: none;
    padding: 6px 16px;
    line-height: 32px;
    cursor: pointer;

    &:hover {
      background-color: #ededed1f;
      border: 1px solid #ededed;
    }

    &:focus, &:active {
      background-color: #ededed1f;
      box-shadow: 0 0 0 2px #6050dc;
    }

    .player-options-button-label {
      font-size: 22px;
      color: #fff;
    }

    .player-options-button-side-icon {
      display: inline-block;
      padding: 6px 0 0 16px;
      width: 20px;
      height: 20px;
    }
  }
}
